In [22]:
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime

In [2]:
# Get all instruments data which are available on Angel One

url = 'https://margincalculator.angelbroking.com/OpenAPI_File/files/OpenAPIScripMaster.json'
data = requests.get(url).json()
df = pd.DataFrame.from_dict(data)
df['expiry'] = pd.to_datetime(df['expiry'])
df = df.astype({'strike':float})
display(df)

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,12487,CYIENT-BL,CYIENT,NaT,-1.0,1,,NSE,5.000000
1,972,64KA30C-SG,64KA30C,NaT,-1.0,100,,NSE,1.000000
2,12718,RIIL-BL,RIIL,NaT,-1.0,1,,NSE,5.000000
3,8777,H1876D46RQ-MF,H1876D46RQ,NaT,-1.0,1,,NSE,1.000000
4,9837,91D080922-TB,91D080922,NaT,-1.0,100,,NSE,1.000000
...,...,...,...,...,...,...,...,...,...
103058,GUARSEED1020SEP22PE6100S,GUARSEED1020SEP22PE6100S,GUARSEED10,2022-09-20,610000.0,5,OPTFUT,NCDEX,50.000000
103059,GUARSEED1020DEC22CE6100S,GUARSEED1020DEC22CE6100S,GUARSEED10,2022-12-20,610000.0,5,OPTFUT,NCDEX,50.000000
103060,GUARGUM518AUG22CE11600S,GUARGUM518AUG22CE11600S,GUARGUM5,2022-08-18,1160000.0,5,OPTFUT,NCDEX,50.000000
103061,GUARSEED1020JUN22PE5900S,GUARSEED1020JUN22PE5900S,GUARSEED10,2022-06-20,590000.0,5,OPTFUT,NCDEX,50.000000
103062,GUARSEED1020JUN22PE6800S,GUARSEED1020JUN22PE6800S,GUARSEED10,2022-06-20,680000.0,5,OPTFUT,NCDEX,50.000000

In [3]:
# Save this file once to the local in CSV format

# df.to_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/all_instruments.csv', header=True, index=False)

In [7]:
# Segregating data based on exchanges

print(pd.unique(df["exch_seg"]))

for i, x in df.groupby("exch_seg"):
    p = '/Users/iamsagar/Desktop/Trading Project/data/instruments/' + '{}.csv'.format(i)
    # print(p)
    # x.to_csv(p, header=True, index=False)

['NSE' 'BSE' 'NFO' 'CDS' 'MCX' 'NCDEX']

In [8]:
# Load all data frames for corresponding exchanges

nse_df = pd.read_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/NSE.csv')
bse_df = pd.read_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/BSE.csv')
nfo_df = pd.read_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/NFO.csv')
cds_df = pd.read_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/CDS.csv')
mcx_df = pd.read_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/MCX.csv')
ncdex_df = pd.read_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/NCDEX.csv')

In [12]:
# Let's focus on NSE from here on. 

display(nse_df)

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
0,12487,CYIENT-BL,CYIENT,NaN,-1.0,1,NaN,NSE,5.0
1,972,64KA30C-SG,64KA30C,NaN,-1.0,100,NaN,NSE,1.0
2,12718,RIIL-BL,RIIL,NaN,-1.0,1,NaN,NSE,5.0
3,8777,H1876D46RQ-MF,H1876D46RQ,NaN,-1.0,1,NaN,NSE,1.0
4,9837,91D080922-TB,91D080922,NaN,-1.0,100,NaN,NSE,1.0
...,...,...,...,...,...,...,...,...,...
6768,1213,PRAXIS-BL,PRAXIS,NaN,-1.0,1,NaN,NSE,5.0
6769,8587,743TN47-SG,743TN47,NaN,-1.0,100,NaN,NSE,1.0
6770,4973,PHARMABEES-EQ,PHARMABEES,NaN,-1.0,1,NaN,NSE,1.0
6771,25308,UFIQIPRGVI-MF,UFIQIPRGVI,NaN,-1.0,1,NaN,NSE,1.0
6772,7010,915GS2024-GS,915GS2024,NaN,-1.0,1,NaN,NSE,1.0

In [15]:
# We are interested in Equities and Mutual Funds as of now. So let's extract them. 

_, nse_equities_df = [x for i, x in nse_df.groupby(df["symbol"].str.contains('EQ'))]
display(nse_equities_df)

_, nse_mf_df = [x for i, x in nse_df.groupby(df["symbol"].str.contains('MF'))]
display(nse_mf_df)

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
11,11821,WELCORP-EQ,WELCORP,NaN,-1.0,1,NaN,NSE,5.0
13,14245,TVSSRICHAK-EQ,TVSSRICHAK,NaN,-1.0,1,NaN,NSE,5.0
16,5606,INTLCONV-EQ,INTLCONV,NaN,-1.0,1,NaN,NSE,5.0
19,15278,ONMOBILE-EQ,ONMOBILE,NaN,-1.0,1,NaN,NSE,5.0
22,13285,M&MFIN-EQ,M&MFIN,NaN,-1.0,1,NaN,NSE,5.0
...,...,...,...,...,...,...,...,...,...
6750,13055,PBAINFRA-EQ,PBAINFRA,NaN,-1.0,1,NaN,NSE,5.0
6757,2988,SANDESH-EQ,SANDESH,NaN,-1.0,1,NaN,NSE,5.0
6759,685,CHOLAFIN-EQ,CHOLAFIN,NaN,-1.0,1,NaN,NSE,5.0
6763,2350,NURECA-EQ,NURECA,NaN,-1.0,1,NaN,NSE,5.0
6770,4973,PHARMABEES-EQ,PHARMABEES,NaN,-1.0,1,NaN,NSE,1.0

,token,symbol,name,expiry,strike,lotsize,instrumenttype,exch_seg,tick_size
3,8777,H1876D46RQ-MF,H1876D46RQ,NaN,-1.0,1,NaN,NSE,1.0
22,13285,M&MFIN-EQ,M&MFIN,NaN,-1.0,1,NaN,NSE,5.0
46,5324,SFMP48DR-MF,SFMP48DR,NaN,-1.0,1,NaN,NSE,1.0
49,18199,FISTIPD3MD-MF,FISTIPD3MD,NaN,-1.0,1,NaN,NSE,1.0
76,25458,UTFIQIPRPI-MF,UTFIQIPRPI,NaN,-1.0,1,NaN,NSE,1.0
...,...,...,...,...,...,...,...,...,...
6713,4665,H1846D27RG-MF,H1846D27RG,NaN,-1.0,1,NaN,NSE,1.0
6728,5499,SFMP49GD-MF,SFMP49GD,NaN,-1.0,1,NaN,NSE,1.0
6758,9880,SFMP2DD-MF,SFMP2DD,NaN,-1.0,1,NaN,NSE,1.0
6767,8761,H187646RG-MF,H187646RG,NaN,-1.0,1,NaN,NSE,1.0
6771,25308,UFIQIPRGVI-MF,UFIQIPRGVI,NaN,-1.0,1,NaN,NSE,1.0

In [16]:
# Save the dataframes

# nse_equities_df.to_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/NSE_equities.csv', index=False)
# nse_mf_df.to_csv('/Users/iamsagar/Desktop/Trading Project/data/instruments/NSE_mf.csv', index=False)

In [37]:
# Create two look up JSONs for equities for future use: Symbol_token and Token_symbol

symbol_token_dict = {}
token_symbol_dict = {}

for row in nse_equities_df.itertuples(index = True, name ='Pandas'):
    symbol = getattr(row, "symbol")
    token = getattr(row, "token")
    symbol_token_dict[symbol] = token
    token_symbol_dict[token] = symbol
    
# print(symbol_token_dict)
# print(token_symbol_dict)

with open('/Users/iamsagar/Desktop/Trading Project/data/instruments/eq_symbol_token.json', 'w') as fp:
    json.dump(symbol_token_dict, fp, ensure_ascii=False, indent=4)
    
with open('/Users/iamsagar/Desktop/Trading Project/data/instruments/eq_token_symbol.json', 'w') as fp:
    json.dump(token_symbol_dict, fp, ensure_ascii=False, indent=4)